<%- include("partials/header") %>
    <section class="card p-2 bg-dark text-white">
        <h1 class="display-1 fw-bold mb-3">
            <%= type.typeName %>
        </h1>
        <p class="mb-3">
            <%= type.description %>
        </p>
        <ul class="list-group">
            <% for (const tag of type.tags) { %>
                <li class="list-group-item bg-dark text-white">
                    <%= tag %>
                </li>
                <% } %>
        </ul>
        <p class="mt-3"> Active status:
            <% if (type.statusActive) { %>
                <span class="bg-success rounded p-1"> Active </span>
                <% } else {%>
                    <span class="bg-danger rounded p-1"> Not Active </span>
                    <% } %>
        </p>
    </section>
    <% if (type.statusActive) { %>
        <h1 class="display-1 fw-bold">All products of type <%= type.typeName %>
        </h1>
        <section class="row g-3">
            <% for (const product of products) { %>
                <article class="bg-dark col-12 col-md-4 p-3 g-3">
                    <a href="/products/<%= product.articleName %>" class="text-white text-decoration-none d-block h-100">
                        <img src="<%= product.imageSrc %>" alt="<%= product.articleName %>" class="w-100 rounded">
                        <h1 class="display-6">
                            <%= product.articleName %>
                        </h1>
                        <p>
                            <%= product.brand %>
                        </p>
                        <p class="mt-auto">$<%= product.price %>
                        </p>
                    </a>
                </article>
                <% } %>
        </section>
        <% } %>


            <%- include("partials/footer") %>